header {
  padding-bottom: 180px;
}

body {
  font-family: "poppins";
}

#title-align {
  text-align: center;
  font-weight: bold;
  font-size: 52px;
  font-family: "Lemon";
}

#title-prestation {
  color: #3dcab1;
}

.prestation {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: auto;
  gap: 30px;
  justify-content: center;
}

.nos-service-0,
.nos-service-1,
.nos-service-2,
.nos-service-3 {
  border-radius: 5px;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 4px white;
}

ul li {
  margin-bottom: 0.6em;
}

#learn-more {
  color: hsl(0, 0%, 70%);
  background: none;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: "poppins";
  border: 3px solid white;
  margin-bottom: 0.6em;
  margin-top: auto;
}

#learn-more:hover {
  background-color: white;
  transition: 0.4s;
  box-shadow: 1px 1px 5px hsl(0, 0%, 70%);
}

@media screen and (max-width: 1023px) {
  .prestation {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: auto auto auto;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
  }
}

#formule-basique {
  padding-bottom: 30px;
  background-color: #3dcab1;
  border-top: 0px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

/* ====== Titre des formules =========*/

#titre-formule-premium,
#titre-formule-basique,
#title-formule-pro,
#titre-formule-visiteurs {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "poppins";
}

#formule-premium {
  padding-bottom: 30px;
  background-color: #3dcab1;
  border-top: 0px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

#formule-pro {
  padding-bottom: 30px;
  background-color: #3dcab1;
  border-top: 0px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

#coloration-check {
  color: white;
}

#formule-basique-price {
  margin-top: 18em;
  font-weight: bold;
  color: white;
}

#annuel-month-price-info {
  color: #545454;
  font-weight: bold;
  font-size: 12px;
  opacity: 80%;
}

#formule-visiteur-price {
  margin-top: 23.2em;
  font-weight: bold;
  color: white;
}

#formule-premium-price {
  margin-top: 18em;
  font-weight: bold;
  color: white;

}

#formule-pro-price {
  font-weight: bold;
  color: white;
  margin-top: 11.9em;
}
